@import "colors";

mat-toolbar {
  display: flex;
  align-items: center;
  background-color: $primaryColor;
  height: 4rem;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.userName-label {
  cursor: pointer;
  margin-right: 1rem;
  &:hover {
    color: $grey2;
  }
}

.logout-icon {
  position: relative;
  top: 5px;
  transition: 0.3s;

  &:hover {
    color: $grey2;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
