@import "colors";

mat-toolbar {
  display: flex;
  align-items: center;
  background-color: $primaryColor;
  height: 4rem;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.userName-label {
  cursor: pointer;
  margin-right: 1rem;
  &:hover {
    color: $grey2;
  }
}

.toolbar-icon {
  position: relative;
  top: 5px;
  transition: 0.3s;
  margin-right: 1rem;

  :last-child {
    margin-right: 0rem;
  }

  &:hover {
    color: $grey2;
  }
}

.basket-icon {
  line-height: 1.5rem;
  border-bottom: 3px rgba(255, 255, 255, 0) solid;
}

.icon-active {
  border-bottom: 3px rgba(255, 255, 255, 0.5) solid;
}

.title {
  font-size: 32px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
