@import "colors";

mat-toolbar {
  background-color: $primaryColor;
  color: #fff;
}

.drawer-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 4rem;
  bottom: 0;
}
mat-drawer {
  width: 20vw;
}

mat-toolbar {
  height: 4rem;
}
