@import "colors";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey1;
  width: 100%;
  height: 100%;
}

.error-text {
  color: $primaryColor;
  font-size: 40px;
  font-weight: bolder;
}
